.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.navbar-default .navbar-nav > li > a {
  color: #428bca !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(0,0,0,0.3) !important;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.car-img {
    width: 332px;
    height: auto;
}
.car-thumb {
    width: 105px;
    height: auto;
}